<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SeaCleaner</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> C# Game
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" id="linkToJsGame" href="/playjs.html">
                <span class="oi oi-bug" aria-hidden="true"></span> JS Game
            </a>
        </li>
    </ul>
</div>
